<h1>Pessoas</h1>

<div class="panel panel-default">
    <div class="panel-heading">Cadastro</div>
    <div class="panel-body">
        <form name="form">

            <div ng-show="erros.length" class="alert alert-danger">
                <ul>
                    <div ng-repeat="erro in erros">
                        <li>{{erro}}</li>
                    </div>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': form.nome.$touched && form.nome.$invalid}">
                        <label>Nome</label>
                        <input name="nome" class="form-control" placeholder="Nome" ng-model="pessoa.nome"  ng-maxlength="200" required>

                        <div ng-messages="form.nome.$error" ng-show="form.nome.$touched" class="form-message-font">
                            <div ng-messages-include="pages/form-messages.html"></div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group" ng-class="{ 'has-error': form.cpf.$touched && form.cpf.$invalid}">
                        <label>CPF</label>
                        <input name="cpf" class="form-control" placeholder="CPF" ng-model="pessoa.cpf" ng-minlength="11" ng-maxlength="11" required>

                        <div ng-messages="form.cpf.$error" ng-show="form.cpf.$touched" class="form-message-font">
                            <div ng-messages-include="pages/form-messages.html"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-md-4">
                    <div class="btn-group">
                        <button type="submit" ng-click="salvar()" ng-disabled="form.$invalid" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data Cadastro</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pessoa in pessoas">
            <td>{{pessoa.id}}</td>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.cpf | cpf}}</td>
            <td>{{pessoa.dataCadastro}}</td>
            <td><button type="button" class="btn btn-default" ng-click="editar(pessoa.id)">Editar</button></td>
        </tr>
        </tbody>
    </table>
</div>