<html ng-app="pessoaController">
<head>
    <title></title>
    <script src="lib/angular.min.js"></script>
    <script src="lib/jquery.min.js"></script>

    <script src="controller/pessoaController.js"></script>

    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css"/>
</head>

    <body>

        <div class="container">

            <h1>Pessoas</h1>

            <div class="panel panel-default">
                <div class="panel-heading">Cadastro</div>
                <div class="panel-body">

                    <form ng-controller="pessoaForm">

                        <div ng-show="erros.length" class="alert alert-danger">
                            <ul>
                                <div ng-repeat="erro in erros">
                                    <li>{{erro}}</li>
                                </div>
                            </ul>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label>Nome</label>
                                    <input class="form-control" placeholder="Nome" ng-model="pessoa.nome" required>
                                </div>
                                <div class="col-md-2">
                                    <label>CPF</label>
                                    <input class="form-control" placeholder="CPF" ng-model="pessoa.cpf" required>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 10px">
                            <div class="col-md-4">
                                <div class="btn-group">
                                    <button type="submit" data-ng-click="salvar()" class="btn btn-primary">Salvar</button>
                                </div>
                             </div>
                        </div>
                    </form>
                </div>
            </div>

            <div data-ng-controller="listarPessoas">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Data Cadastro</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="pessoa in pessoas">
                        <td>{{pessoa.id}}</td>
                        <td>{{pessoa.nome}}</td>
                        <td>{{pessoa.cpf | cpf}}</td>
                        <td>{{pessoa.dataCadastro}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </body>
</html>